body {
  font-family: 'Karla', sans-serif;
  background-color: #0B2434;
}

main {
  height: 80vh;
  background-color: white;
  margin: 10vh;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}